<div class="cards">
  <% @places.each do |place| %>
    <%= link_to place_path(place) do%>
      <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url(https://www.zuerich.com/sites/default/files/image/2022/web_zurich_landesmuseum_ZT_22616_1280x960.jpg)">
        <div class="d-flex flex-column">
          <div class="p-2"><h2> <%= place.name %></h2> </div>
          <div class="p-2"><p><i class="fa-solid fa-location-dot"></i> <%= place.address %></p></div>
          <div class="p-2"><p><%= "#{place.reviews.count} people have reviewed"%></p></div>
            <div class="p-2"><%= place.avg_review.to_i.times do %>
            <i class="fa-solid fa-star"></i>
            <% end %>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
