<div class="cards">
  <% @places.each do |place| %>
    <%= link_to place_path(place) do%>
      <div class="card-small p-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%=place_header_photo_url(place)%>')">
        <div class="d-flex flex-column">
          <div class=""><h2> <%= place.name %></h2> </div>
          <div class=""><p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= place.address %></p></div>
          <div class=""><p class="card-text"><%= "#{place.reviews.count} people have reviewed"%></p></div>
            <div class=""><%= place.avg_review.to_i.times do %>
            <i class="fa-solid fa-star"></i>
            <% end %>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
