
<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
  <div class="carousel-inner">
    <% @places.each_with_index do |place, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= link_to place_path(place) do %>
          <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url('<%=place_header_photo_url(place)%>')">
            <div class="card-info" >
              <div><h2><%= place.name%></h2></div>
              <div><i class="fa-solid fa-location-dot"></i> <%= place.address %></div>
              <div><%= "#{@reviews.length} people have reviewed"%></div>
              <li class="list-group-item"> <% @avg_review.to_i.times do  %>
              <i class="fa-solid fa-star"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
