<div>
  <div class="home-headers">
    <div class="salute-header">
      <% if user_signed_in? %>
         <%= greeting_user %>
      <% else %>
        <%= greeting_everyone %>
      <% end %>
    </div>
    <div class="main-header">
      <h1>Where do you want to go today?</h1>
    </div>
  </div>
  <%= render "shared/banner" %>

  <div class="container">
    <div class="invitation">
      <h2>Join the community! </h2>
      <h3>Help us make the city a place for everyone,
      <%=link_to "Sign Up", new_user_registration_path %>
      and be part of the accessibility revolution.</h3>
      <h3>Find the all the information about accessibility
      for different places around your city. </h3>
      <h3>More about our goal and mission <%= link_to "here", about_path %>.</h3>
    </div>
  </div>
    <div class="container">
      <div class="button-center" >
        <%= link_to "+Add New Place", new_place_path, class: "btn btn-primary" %>
      </div>
    </div>
  <div class="top-places">
  Top Rated Places
  </div>
  <%= render "shared/home_card" %>
  <%= render "shared/footer"  %>
</div>
