<div class="container">
  <h1>review</h1>
  <%= simple_form_for([@place, @review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :comment %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", place_path(@place) %>
</div>
