<div class="container">
  <h1>New review</h1>
  <%= simple_form_for([@place, @review]) do |f| %>
    <%= f.input :rating, input_html: { min: '0', max: '3', step: '1' }%>
    <%= f.input :comment, minlength: 50, maxlength: 600 %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", place_path(@place) %>
</div>
