<h1> Edit </h1>

<%= form_with model: @places do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :address %>
  <%= f.number_field :address %>
  <%= f.submit %>
<% end %>
