<div class="container">
    <% @place.errors.each do |error|%>
    <%= error.full_message %>
    <% end %>

    <div class="container">
      <div class="card mb-3 shadow">
      <%= image_tag "addplace.png", class:"card-img-top"%>
          <div class="card-body">
          <h5 class="card-title">Add a Place and help us to improve accessibility!</h5>
          <br>
          <%= simple_form_for @place do |f| %>
          <%= f.input :name %>
          <%= f.input :details, as: :text, maxlength: 300, error: 'The text may not be longer than 300 Characters' %>
          <%= f.input :zip_code %>
          <%= f.label :address %>
          <br/>
          <%= f.input :address, as: :hidden,
          input_html: { data: { address_autocomplete_target: "address" } },
          wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } } %>
          <%= f.input :header_photo, as: :file, input_html: { multiple: false } %>
          <%= f.submit "Add Place", class: "btn btn-primary" %>
          <% end %>
          </div>
      </div>
    </div>
  <%= render "shared/footer" %>
</div>
