
<div class="container">
  <h2> <%= @place.name %> <h2>
  <p>  <%= @place.address %> </p>
</div>

<% @place.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<div style="width: 400px; height: 600px;" data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <img src="https://picsum.photos/300/300" />

    <% @place.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>


    <h2><strong>Reviews</strong></h2>


    <ul class="list-group">
      <% @place.reviews.each do |review| %>
        <li class="list-group-item"><%= review.rating %></li>
        <li class="list-group-item"><%= review.comment %></li>
    <% end %>
    <h2><strong>About Place</strong></h2>
    <p>  <%= @place.details %> </p>
    </div>

